<div class="@CssCameraWrapper border">
    <video style="width:@Width; height:@Height" @ref="VideoElement">Video stream not available</video>
    @if (!String.IsNullOrWhiteSpace(errorMessage))
    {
        <div class="alert alert-danger">
            @errorMessage
        </div>
    }
</div>
